<nz-layout>
  <nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="lg" [(nzCollapsed)]="isCollapsed"
              [nzCollapsedWidth]="0"
              [nzTrigger]="null">
      <div class="sidebar-logo">
        <a href="https://ng.ant.design/" target="_blank">
          <img src="assets/honeydome.png" alt="logo">
          <h1>Honeydome</h1>
        </a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu nzOpen nzTitle="系统" nzIcon="dashboard">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/abstract">概要</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/strategy">策略</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/process">进程</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/config">配置</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="原始数据" nzIcon="database">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/kline">K线历史数据</a>
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
          </span>
          <a nz-button nzType="primary" [hidden]="hasLogin"
             href="http://dev.honeydome.kherrisan.cn/oauth2/authorization/github">登录</a>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <nz-breadcrumb [nzAutoGenerate]="true"></nz-breadcrumb>
          <nz-divider></nz-divider>
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
